body { 
    color:rgb(248, 248, 242);
    background-color: hsl(234, 86%, 22%);
    margin: 0px;
    font font-family: "Chackra Petch"; sans-serif;
    margin-botton: 100px;
    }
    
    header{
    border-bottom: solid 2px rgb(219, 28, 28);
    padding: 20px;
    font-size: 60px;
    color: rgb(243, 237, 235);
    
    }
    .chamada {
        background: rgb(6, 116, 241);
        padding-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: center;
        }
    
    .categoria-textos {
        margin-right: 10%;
        margin-left: 10%;
        font-size: 60PX;
    }
    h1 {
    font-size: 40px ;
    }
    
    p{
        font-size: 80px;
    }
    .categoria-vídeos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    }
    
    .categoria {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 50px;
    }
    .categoria-vídeos img {
        opacity: 0.5;
        height: 200px;
    }
    .categoria-vídeos img:hover {
        opacity: 1.0;
        border: 3px solid green;
    }
    .categoria h2{
        color: rgb(42, 122, 228);
    }
     